In [1]:
import pandas as pd
import numpy as np

In [2]:
data05 = pd.read_stata("../original_data/vp.dta")

In [3]:
# Extract and rename personal information and employment_status
data2005 = data05.loc[:, ['hhnr','persnr','vp14701', 'vp0104', 'vp14702', 'vp148', 'vp135']]
data2005.columns = ['cid','pid','sex', 'hh_income_satisfaction', 'year_of_birth', 'marital_status', 'german_nationality']

In [4]:
data2005['age'] = 2005 - data2005['year_of_birth']

In [5]:
data2005['age_sqr'] = np.square(data2005['age'])

In [6]:
#Replace all negative number into pd.np.nan and replace string into number.
dict_n = {'[-1] keine Angabe': pd.np.nan, '[1] Ja':1, '[2] Nein':0, '[1] Verheiratet, zusammenlebend' :1, '[2] Verheiratet, getrenntlebend':1,
         '[3] Ledig': 0, '[4] Geschieden':0, '[5] Verwitwet':0, '[0] 0 Zufrieden: Skala 0-Niedrig bis 10-Hoch':0, '[1] 1 Zufrieden: Skala 0-Niedrig bis 10-Hoch':1,
         '[2] 2 Zufrieden: Skala 0-Niedrig bis 10-Hoch':2, '[3] 3 Zufrieden: Skala 0-Niedrig bis 10-Hoch':3, '[4] 4 Zufrieden: Skala 0-Niedrig bis 10-Hoch':4,
         '[5] 5 Zufrieden: Skala 0-Niedrig bis 10-Hoch':5, '[6] 6 Zufrieden: Skala 0-Niedrig bis 10-Hoch':6, '[7] 7 Zufrieden: Skala 0-Niedrig bis 10-Hoch':7,
         '[8] 8 Zufrieden: Skala 0-Niedrig bis 10-Hoch':8, '[9] 9 Zufrieden: Skala 0-Niedrig bis 10-Hoch':9, '[10] 10 Zufrieden: Skala 0-Niedrig bis 10-Hoc':10,
         '[1] Maennlich':1, '[2] Weiblich':0}

data_05 = data2005.replace(dict_n)

In [8]:
data_05.to_csv("../clean_data/control.csv")